body{
    text-align: center;
}

li{
    text-align: left;
}

#btn{
 background-color:red;
 border:1px solid #40AA53;
 width:200px;
 height:65px;
 margin:0em auto;
 font-size:1em;
 border-radius:10px;
 color:#FFF;
-webkit-appearance:none;
-moz-appearance:none
 }